
<!-- https://bootsnipp.com/snippets/featured/todo-example -->
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="todolist not-done">
          <h1>Todos</h1>
            <input type="text" class="form-control" placeholder="Add item here..." (keyup.enter)="addTask(title)" #title>
            <button id="checkAll" class="btn btn-success" (click)="markAllDone()">Mark all as done</button>
            <hr>
            <ul class="list-unstyled">
              <div 
                *ngFor="let task of tasks">
                <app-task 
                  [task]=task 
                  (notityDelete)="onDelete($event)"
                  *ngIf="!task.done">
                </app-task>
              </div>
              
            </ul>
            <div class="todo-footer">
                <strong><span class="count-todos"></span></strong> {{ tasksDone }} Items Left
            </div>
        </div>
      </div>
      
      <div class="col-md-6">
          <div class="todolist">
           <h1>Already Done</h1>
              <ul id="done-items" class="list-unstyled">
                  <li>Some item 
                    <span class="pull-right">
                      <span class="glyphicon glyphicon-remove"></span>
                    </span>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>