
<!-- https://bootsnipp.com/snippets/featured/todo-example -->
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="todolist not-done">
          <h1>Todos</h1>
            <input type="text" class="form-control" placeholder="Add item here..." (keyup.enter)="addTask(title)" #title>
            <button id="checkAll" class="btn btn-success" (click)="markAllDone()">Mark all as done</button>
            <hr>
            <ul class="list-unstyled">
              <div 
                *ngFor="let task of tasks">
                <app-task-todo 
                  [task]=task 
                  (notityDelete)="onDelete($event)"
                  (notityTaskDone)="onTaskDone()"
                  *ngIf="!task.done">
                </app-task-todo>
              </div>
              
            </ul>
            <div class="todo-footer">
                <strong><span class="count-todos"></span></strong> {{ tasksNotDone }} Items Left
            </div>
        </div>
      </div>
      
      <div class="col-md-6">
          <div class="todolist">
           <h1>Already Done</h1>
              <ul class="list-unstyled">
                <div 
                *ngFor="let task of tasks">
                  <app-task-done
                    [task]=task
                    (notityDelete)="onDelete($event)"
                    *ngIf="task.done" 
                    > 
                  </app-task-done>
                </div>
              </ul>
          </div>
      </div>
  </div>
</div>