
<!-- https://bootsnipp.com/snippets/featured/todo-example -->
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="todolist not-done">
          <h1>Todos</h1>
            <form class="ui large form segment">
              <input type="text" class="form-control" placeholder="Add item here..." (keyup.enter)="addTask(title)" #title>
              <button id="checkAll" class="btn btn-success">Mark all as done</button>
            </form>
            <hr>
            <ul class="list-unstyled">
              <app-task 
                *ngFor="let task of tasks"
                [task]=task>
              </app-task>
            </ul>
            <div class="todo-footer">
                <strong><span class="count-todos"></span></strong> {{tasks.lenght}} Items Left
            </div>
        </div>
      </div>
      <!--
      <div class="col-md-6">
          <div class="todolist">
           <h1>Already Done</h1>
              <ul id="done-items" class="list-unstyled">
                  <li>Some item <button class="remove-item btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-remove"></span></button></li>
                  
              </ul>
          </div>
      </div>
      -->
  </div>
</div>