.done-items li{
    padding:10px 0;
    border-bottom:1px solid #ddd;
    text-decoration:line-through;
}
.done-items li:last-child{
    border-bottom:none;
}

span.glyphicon-remove{
    cursor: pointer;    
}
